.footer-area{
    background-image: url("../../../images//footer-bg.png");
    background-size: cover;
}

.footer-area li{
    padding-bottom: 10px;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #F69323;
    border-radius: 50%;
    border: 1px solid #F69323;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #F69323 ;
    color:white;
}
.btn-newslater{
    border: 1px solid #F69323;
    border-radius: 50%; 
}
input[type=text]{
padding: 10px 5px;
}
@media (max-width: 768px) {
    input[type=text]{
        padding: 4px 1px;
        }
        
  }